.onecard {
  width: 100%;
  /* display: flex; */
  /* height: auto; */
}
.card {
  border-radius: 30px;
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160%;
  margin-bottom: 1rem;
}
